
<%- include('./partials/header') %>
<body>
    
        <section class="main">

            <div class="titleLibrairy">
                    <h1 >La croisée</h1>
            </div>
            <form action="/search" method="get">
                <input type="text" name="title" id="title" placeholder="Titre du livre">
                <input type="text" name="author" id="author" placeholder="Auteur">
                <button id="searchBTN">Valider</button>
            </form>
        </section>
        <% if(!books){ %>
            <h1>y'a rien</h1>
            <% }else { %>
        <section class="containerFiches" id="containerFiches">
            <% for(let i=0; i< books.length;i++) {%>
                <div class="fiche">
                <% if(books[i].volumeInfo.imageLinks && books[i].volumeInfo.imageLinks.thumbnail){ %>
                    <img class="img" src="<%= books[i].volumeInfo.imageLinks.thumbnail %>" alt="Book Thumbnail">
                        <% } else{ %>
                            <p>Pas d'image disponible</p>
                            <% } %>
                <h3 class="titre"><%= books[i].volumeInfo.title %></h3>
                <p class="auteur"><%= books[i].volumeInfo.author%></p>
                <h2 class="description"><%= books[i].volumeInfo.description %></h2>
                <p class="auteur"><%= books[i].volumeInfo.categories%></p>
    
    
              
                    </div>
    
                <%  }; %>
        </section>
        <% } %>
        <script>
            const formBTN = document.getElementById('searchBTN');
            formBTN.addEventListener('click',()=>{
                const target = document.getElementById('containerFiches');
                target.scrollIntoView({ behavior: 'smooth' });
            })
        </script>
</body>
</html>
